.bg-img {
  background: url('./assets/bg.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh; /* Full viewport height */
}

.glass-morphism {
  background: rgba(255, 255, 255, 0.2); /* White background with transparency */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /*Top-padding */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
  backdrop-filter: blur(10px); /* Background blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(22, 5, 5, 0); /* Light border */
}

.wrapper {
  background: url('./assets/text-wrapper.jpg');
  background-clip: text;
  color: transparent;
  background-position: center;
  text-transform: uppercase;
}
